* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:root {
  --brand-color: #2196f3;
  --brand-color-slide: rgba(33, 150, 243, 0.9);
  --secondary-info-color: #757575;
  --main-text: #212121;
  --icon-color: #afb1b8;
  --footer-text: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

li {
  list-style-type: none;
}

address {
  text-align: end;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &--footer {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  padding-bottom: 25px;
  width: 145px;
  height: 31px;
  font-family: 'Raleway', sans-serif;
  color: var(--brand-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;

  &--header {
    color: #000;
  }

  &--footer {
    color: #fff;
  }
}

.header {
  position: sticky;
  
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;

  background-color: #fff;
  border-bottom: 1px solid #ececec;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    width: 294px;
    justify-content: space-between;
  }

  &__contacts {
    min-width: 333px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  &__contacts-icon {
    display: inline-flex;
    fill: currentColor;
    margin-right: 10px;
  }
}

.header__nav-item {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  &::after {
    position: relative;
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--brand-color);
    border-radius: 2px;
    top: 29.5px;
    display: block;

    transform: scaleX(0);
    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1); 
  }

  &:hover::after {
    transform: scaleX(1);
  }

  &--current::after {
    transform: scaleX(1);
  }

  &:hover, &:focus, &--current {
    color: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.header__contacts-item {
  color: var(--secondary-info-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;

  &:hover, &:focus {
    color: var(--brand-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

.hero {
  background-color: #2f303a;
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &__section {
    text-align: center;
    display: flex;
    padding-top: 200px;
  }
}

.service-button {
  width: 200px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: #fff;
  text-decoration: none;
  margin-top: 30px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &--subscribe {
    margin: 0;
    display: flex;
    padding: 0 28px;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: white;

  &:hover, &:focus {
    fill: var(--brand-color);
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 101;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    max-height: 100vh;
    background-color: white;
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__form {
    margin: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;

    color: var(--secondary-info-color);
  }

  &__head {
    display: inline-block;
    margin-bottom: 12px;

    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 20px;
    line-height: 1.15;

    color: var(--main-text);
  }

  &__form-field {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 4px;
  }

  &__wrapper {
    position: relative;
  }

  &__submit {
    text-align: center;
  }
}

.backdrop__input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--brand-color);
  }
}

.backdrop__icon {
  position: absolute;
  left: 12px;
  top: 50%;

  color: var(--main-text);
  fill: currentColor;

  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop__input:focus ~ & {
    color: var(--brand-color);
  }
}

.backdrop__comment {
  width: 100%;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--brand-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.agreement {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    width: 16px;
    height: 15px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  &__checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--main-text);
    border-radius: 2px;
    z-index: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .agreement__input:focus ~ & {
      outline: 1px dotted ButtonText;
    }

    .agreement__input:checked ~ & {
      border: none;
      background-color: var(--brand-color);
    }
  }

  &__link {
    margin-left: 4px;
    text-decoration: underline;
    color: var(--brand-color);
  }
}

.about-us {
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-info-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;

  &__box {
    width: 270px;
  }
  
  &__icon-box {
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #f5f4fa;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  
  &__icon {
    width: 70px;
    height: 70px;
  }
}

.work {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;

  &__thumb {
    position: relative;
  }

  &__overlay {
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding: 27px 0;
    position: absolute;
    bottom: 0px;
  }
}

.team {
  background: #f5f4fa;
  font-size: 16px;
  line-height: 19px;
  vertical-align: top;
  font-style: normal;
  padding: 94px 0;

  &__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  &__names {
    color: var(--main-text);
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 0.03em;
  }
  
  &__position {
    color: var(--secondary-info-color);
    text-align: center;
    margin-top: 10px;
    letter-spacing: 0.03em;
  }
  
  &__card {
    width: 270px;
    background: white;
    padding-bottom: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.social-list {
  padding: 0px 32px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  &--footer {
    padding: 0;
    width: 206px;
    margin-top: 10px;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover, &:focus {
      background-color: var(--brand-color);
      color: white;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }

    &--footer {
      color: white;
      background-color: #44454e;
      padding: 0;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.clients {
  padding: 94px 0;

  &__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 90px;
    color: var(--icon-color);
    border: 1px solid currentColor;
    border-radius: 4px;

    &:hover, &:focus {
      color: var(--brand-color);
      fill: currentColor;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  }

  &__logo {
    fill: currentColor;
  }
}

.portfolio {
  padding: 94px 0px;

  &__sorting {
    display: flex;
    justify-content: center;
  }

  &__sorting-button {
    height: 38px;
    padding: 6px 22px;
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    background-color: #f5f4fa;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 4px;
    border-radius: 4px;

    &:hover, &:focus {
      color: #fff;
      background-color: var(--brand-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  }
}

.grid {
  margin-top: 50px;
  height: 1272px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  color: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.project {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;

  &:hover, &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__type {
    color: var(--secondary-info-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 24px;
  }
}

.project__slide {
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-weight: normal;
  max-width: 370px;
  max-height: 294px;
  padding: 63px 24px;
  background-color: var(--brand-color-slide);
  color: white;
  top: 0;
  left: 0;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__thumb:hover & {
    transform: translateY(0);
  }
}

.footer {
  &__info {
    max-width: 231px;
  }

  &__adress {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &__info-list {
    margin-top: 20px;
    width: 231px;
    height: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contacts {
    color: var(--footer-text);
    font-weight: 400;
    letter-spacing: 0.03em;

    &:hover {
      color: var(--brand-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
    }
  }

  &__social, &__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: white;
  }

  &__form {
    display: flex;
    margin-top: 10px;
    width: 570px;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    display: flex;
  }

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #2f303a;
    font-size: 16px;
    padding-left: 16px;
    color: var(--footer-text);

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
